UGPP.CobrosCoativo.Servicios/XSD/CriterioOrdenamientoTipo.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ugpp.gov.co/esb/schema/CriterioOrdenamientoTipo"
	xmlns="http://www.ugpp.gov.co/esb/schema/CriterioOrdenamientoTipo"
	elementFormDefault="qualified"
	version="1.0">


<complexType name="CriterioOrdenamientoTipo">
	<xsd:sequence>
		<xsd:element name="valOrden" type="xsd:integer" maxOccurs="1" minOccurs="0"></xsd:element>

		<xsd:element name="valNombreCampo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>

	</xsd:sequence>
</complexType>

